$blue: rgb(26, 115, 232);
$light_blue: rgba(26, 115, 232, .2);

$gray: #F8F9FA;
$light_gray: #E2E3E3;

$spreadsheet_label_font: tahoma;

html {
    font-family: 'Courier New', Courier, monospace;
}
section, div, form, input {
    box-sizing: border-box;
}

.container {
    height: calc(100vh - 64px);
    width: 100vw;
}

[gdarea="nav"] {
    form {
        height: 100%;
        input {
            height: 100%;
            padding: .25rem;
            border: 0;
            background: none;
            outline: 0;
        }
    }
    [gdarea="label"] {
        width: 100%;
        display: inline-grid;
        justify-items: end;
        align-items: center;
        text-transform: uppercase;
    }
}

[gdarea="column_labels"], [gdarea="row_labels"] {
    text-align: center;
    text-transform: uppercase;
}

[gdarea="spreadsheet"] {
    overflow: auto;
    height: calc(100vh - 64px - 2rem);
    div {
        display: inline-grid;
        justify-items: center;
        align-items: center;
        border-right: 1px solid $light_gray;
        border-bottom: 1px solid $light_gray;
    }
    [gdarea="sheet"] {
        div {
            width: 6rem;
            height: 1.5rem;
            &.active {
                border: 2px solid $blue;
            }
            &:hover {
                cursor: cell;
                background-color: $light_blue;
            }
        }
    }
    [gdarea="row_labels"], [gdarea="column_labels"] {
        div {
            background-color: $gray;
            font-family: $spreadsheet_label_font;
            font-size: .7rem;
            height: 1.5rem;
        }
    }
    [gdarea="row_labels"] {
        div {
            &:first-child {
                border-top: 1px solid $light_gray;
            }
            width: 2.75rem;
            font-size: .65rem;
        }
    }
    [gdarea="column_labels"] {
        div {
            &:first-child {
                border-left: 1px solid $light_gray;
            }
            border-top: 1px solid $light_gray;
            width: 6rem;
        }
    }
}

.tool {
    border: none !important;
    &:hover {
        cursor: pointer;
    }
}

.rotate-clockwise-90 {
    transform: rotate(90deg);
}

form {
    input {
        width: 100%;
    }
}