<section class="container"
  gdAreas="nav | spreadsheet"
  gdRows="2rem calc(100vh - 64px - 2rem)">

    <section gdArea="nav" 
        gdAreas="add_row label input add_column"
        gdColumns="2rem 2rem auto 3rem">
        
        <div gdArea="add_row">
            <button (click)="addRowClicked.emit()" class="tool" title="Add Row">
                <mat-icon class="rotate-clockwise-90">arrow_right_alt</mat-icon>
            </button>
        </div>
        <div gdArea="label">
            {{ getColumnLabel(activeCellPosition.column) }}{{ activeCellPosition.row }}:
        </div>
        <div gdArea="input">
            <form [formGroup]="activeCellFormGroup">
                <input type="text" formControlName="active_cell" #active_cell_input autofocus />
            </form>
        </div>
        <div gdArea="add_column">
            <button (click)="addColumnClicked.emit()" class="tool" title="Add Column">
                <mat-icon>arrow_right_alt</mat-icon>
            </button>
        </div>
        
    </section>

    <section 
        gdArea="spreadsheet" 
        gdAreas="filler column_labels | row_labels sheet"
        gdRows="1.5rem auto"
        gdColumns="2.75rem auto">

        <div gdArea="filler"></div>

        <section 
            gdArea="column_labels"
            gdColumns="repeat({{columns}}, 6rem)">
            <div *ngFor="let column of counter(columns); let i = index">
                {{ getColumnLabel(i + 1) }}
            </div>
        </section>

        <section 
            gdArea="row_labels"
            gdRows="repeat({{rows}}, 1.5rem)">
            <div *ngFor="let row of counter(rows); let i = index">
                {{ i + 1 }}
            </div>
        </section>

        <section 
            gdArea="sheet"
            gdRows="repeat({{rows}}, 1.5rem)"
            gdColumns="repeat({{columns}}, 6rem)">
            <div 
                *ngFor="let cell of counter(rows * columns); let i = index" 
                [class.active]="isCellActive(i)"
                (click)="cellClick(i)">
                {{ getCellValue(i) | expression | async | conditionalNumber }}
            </div>
        </section>

    </section>
</section>